<IfModule mod_rewrite.c>
  RewriteEngine on

  # Pass all requires not referring directly to files in the filesystem to index.php
  # Rounting will take care of different urls. See rounting settings in "rounting.yml"
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_URI} !=/favicon.ico
  RewriteRule ^ index.php [L]

</IfModule>